html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
}

input, h1, p, div {
  margin: 0;
  padding: 0;
}

.whole-page{
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 60%;
}

.board-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  width: 500px;
}

.top-colors{
  display: flex;
}

.bottom-colors{
  display: flex;
}

.color{
  display: flex;
  height: 250px;
  width: 250px;
}

.red{
  background-color: red;
}
.green{
  background-color: green;
}

.green:hover{
  background-color: darkgreen;
}

.yellow{
  background-color: yellow ;
}

.yellow:hover{
  background-color: darkgoldenrod;
}

.blue{
  background-color: blue;
}

.blue:hover{
  background-color: darkblue;
}



