html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
}

input, h1, p, div {
  margin: 0;
  padding: 0;
}

.whole-page{
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background-color:#222121;
  align-items: center;
  flex-direction: column;
}

.comment-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.title{
  color: antiquewhite;
  font-family: "Maison Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 5vh;
  text-align: center;
  margin-top: 10px;
}

.instructions{
  color: antiquewhite;
  font-family: "Maison Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 4vh;
  text-align: center;
  margin: 0;
}

.board-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 40vh;
  border-radius: 100px;
  position: absolute;
}

.inner-circle {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vh;
  height: 20vh;
  background: black;
  border-radius: 100%;
  z-index: 2;
  font-family: "Maison Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  color: antiquewhite;
}

.start-button{
  position: absolute;
  font-family: "Maison Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  background-color: #222121;
  height: 20%;
  width: 70%;
  color: antiquewhite;
  border-radius: 4px;
  border: 2px solid antiquewhite;
  text-align: center;
  align-items: center;
}

.start-button:hover{
  outline: none;
  background-color: #3a3a3a;
  cursor: pointer;
}

.start-button:focus{
  outline: none;
}

.level-counter{
  display: flex;
  justify-content: center;
  height: 40%;
  width: 100%;
  font-size: 13px;
  font-family: "Maison Neue", "Segoe UI", Helvetica, Arial, sans-serif;
}

.top-colors{
  display: flex;
}

.bottom-colors{
  display: flex;
}

.color{
  display: flex;
  @media screen {
    height: 35vw;
    width:35vw;
  }
  height: 35vh;
  width: 35vh;
  border: 8px solid black;
}

.color:hover{
  cursor: pointer;
}

.red{
  background-color: #E01E5A;
  border-top-right-radius: 100%;
}

.red:hover{
  background-color:rgb(222, 0, 70);
  border: 8px solid antiquewhite;
}

.green{
  background-color: #2EB67D;
  border-top-left-radius: 100%;
}

.green:hover{
  background-color: rgb(0, 177, 103);
  border: 8px solid antiquewhite;
}

.yellow{
  background-color: #FFEB3B;
  border-bottom-left-radius: 100%;
}

.yellow:hover{
  background-color: rgb(255, 230, 0);
  border: 8px solid antiquewhite;
}

.blue{
  background-color: #36C5F0;
  border-bottom-right-radius: 100%;
}

.blue:hover{
  background-color: rgb(0, 175, 228);
  border: 8px solid antiquewhite;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around
}

.personal-links{
  display: flex;
  flex-direction: row;
  height: 10%;
  margin: 10px;
  justify-content: center;
}

.personal-links:hover{
  cursor: pointer;
  filter: contrast();
}

.link{
  padding: 10px;
}

.git-border{
  background-color:antiquewhite;
  border-radius: 100%;
  border: 1px solid antiquewhite;
}

.linkedin-border{
  background-color: antiquewhite;
  border-radius: 8px;
  border: 1px solid antiquewhite;
}


.mode-button{
  border-radius: 4px;
  border: 2px solid antiquewhite;
  height: 5vh;
  width: 10vh;
  text-align: center;
  color: antiquewhite;
  font-size: 8px;
  font-family: "Maison Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  background-color: #212121;
  
}

.mode-button:hover{
  cursor: pointer;
  background-color: red;
}

.mode-button:focus{
  border: none;
  border-color: none;
  outline: none;
}

.copyright-container{
  margin-top: 20px;
  margin-bottom: 15px;
}

.copyright{
  text-decoration: none;
  font-family: "Maison Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  color: antiquewhite;
  text-align: center;
}

.copyright:hover{
  cursor: pointer;
}



