html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
}

input, h1, p, div {
  margin: 0;
  padding: 0;
}

.whole-page{
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background-color: #222121;
  align-items: center;
  flex-direction: column;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60%;
  width: 100%;
}

.comment-container{
  display: flex;
  width: 100%;
  justify-content: center;
}

.title{
  color: antiquewhite;
  font-family: "Maison Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 45px;
  margin-bottom: 15px;
  text-align: center;
}

.board-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  width: 500px;
  border-radius: 100px;
  position: absolute;
}

.inner-circle {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  background: black;
  border-radius: 100%;
  z-index: 2;
  font-family: "Maison Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  color: antiquewhite;
}

.start-button{
  position: absolute;
  font-family: "Maison Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  background-color: #212121;
  height: 20%;
  width: 55%;
  font-size: 15px;
  color: antiquewhite;
  border-radius: 4px;
  border: 2px solid antiquewhite;
  text-align: center;
}

.start-button:hover{
  outline: none;
  background-color: #3a3a3a;
  cursor: pointer;
}

.start-button:focus{
  outline: none;
}

.level-counter{
  display: flex;
  justify-content: center;
  height: 50%;
  width: 100%;
  font-size: 13px;
  text-align: center;
  font-family: "Maison Neue", "Segoe UI", Helvetica, Arial, sans-serif;
}

.top-colors{
  display: flex;
}

.bottom-colors{
  display: flex;
}

.color{
  display: flex;
  height: 250px;
  width: 250px;
  border: 8px solid black;
}

.color:hover{
  cursor: pointer;
}

.red{
  background-color: #E01E5A;
  border-top-right-radius: 100%;
}

.red:hover{
  background-color:rgb(222, 0, 70);
  border: 8px solid antiquewhite;
}


.green{
  background-color: #2EB67D;
  border-top-left-radius: 100%;
}

.green:hover{
  background-color: rgb(0, 177, 103);
  border: 8px solid antiquewhite;
}

.yellow{
  background-color: #FFEB3B;
  border-bottom-left-radius: 100%;
}

.yellow:hover{
  background-color: rgb(255, 230, 0);
  border: 8px solid antiquewhite;
}

.blue{
  background-color: #36C5F0;
  border-bottom-right-radius: 100%;
}

.blue:hover{
  background-color: rgb(0, 175, 228);
  border: 8px solid antiquewhite;
}

.personal-links{
  display: flex;
  height: 10%;
  margin: 20px;
}

.personal-links:hover{
  cursor: pointer;
}

.link{
  padding: 10px;
}

.git-border{
  background-color:antiquewhite;
  border-radius: 100%;
  border: 1px solid antiquewhite;
}

.linkedin-border{
  background-color: antiquewhite;
  border-radius: 8px;
  border: 1px solid antiquewhite;

}



